.accordion {
  margin-bottom: 15%; }
  .accordion h2 {
    text-align: center;
    margin-top: 5%; }
  .accordion .accordion-body {
    background-color: rgba(0, 0, 0, 0.555); }

.valido {
  border: 2px green solid; }

.invalido {
  border: 2px red solid; }

/* footer */
#templatemo_footer_wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 0;
  background: #426fae; }

#templatemo_footer {
  width: 940px;
  margin: 0 auto;
  padding: 30px 20px;
  background: #426fae url(images/templatemo_footer_bg.jpg) no-repeat center top;
  color: #cccccc; }

#templatemo_footer a {
  color: #ffffff; }

#templatemo_footer .section_w280 {
  float: left;
  width: 240px;
  padding-right: 40px; }

#templatemo_footer .section_w280 h3 {
  width: 175px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff; }

#templatemo_footer .footer_list {
  margin: 0px;
  padding: 0px;
  list-style: none; }

#templatemo_footer .footer_list li {
  margin: 0px;
  padding: 3px 0; }

#templatemo_footer .footer_list li a {
  color: #cccccc; }

#templatemo_footer .footer_list li a:hover {
  color: #ffffff;
  text-decoration: none; }

/* end of footer */
/*  */
.promospromos {
  margin: 5% 0 5% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%; }

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5%; }

.productCard img {
  margin-top: 5%; }

.buttonCar {
  background-color: rgba(255, 0, 51, 0.342); }

/* --------------- */
.modal .modal-title {
  color: white;
  background-color: #616569; }

.modal h5 {
  text-align: center;
  width: 100%; }

.productoEnCarrito {
  background-color: springgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center; }
  .productoEnCarrito button {
    width: 10%;
    height: 5%;
    padding: 1%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#imh {
  width: 100%;
  height: 30%;
  margin-bottom: 10%;
  display: flex;
  position: static; }

header {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.typed {
  display: flex;
  height: 50px;
  background-image: url(../sources/backgrounds.jpg);
  align-items: center;
  font-size: 150%;
  justify-content: center;
  color: white;
  margin-bottom: 1%;
  margin-top: 1%;
  font-family: monospace;
  font-weight: bold; }

.typed-cursor {
  visibility: hidden; }

.swiffy-slider {
  margin-bottom: 5%; }

.navbar {
  margin-bottom: 5%; }

.btn {
  background-color: #524942;
  background-image: url(../sources/backgrounds.jpg); }

.card-body {
  background-color: #616569;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .card-body button {
    width: 100%;
    background-image: url(../sources/backgrounds.jpg);
    color: white; }
