@font-face {
  font-family: mrs;
  src: url("../font/Mrs Eaves");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: typ;
  src: url("../font/Utopia Italic.ttf"); }

h2 {
  color: white;
  font-family: mrs;
  background-image: url(../sources/backgrounds.jpg);
  margin: 2% 0 2% 0;
  text-align: center; }

.accordion {
  margin-bottom: 15%; }
  .accordion h3 {
    text-align: center;
    margin-top: 5%; }
  .accordion button {
    color: white;
    background-image: url(../sources/backgrounds.jpg); }
  .accordion .accordion-body {
    background-color: rgba(0, 0, 0, 0.555); }

.valido {
  border: 2px green solid; }

.invalido {
  border: 2px red solid; }

.antfoot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 10%; }
  .antfoot button a {
    color: white;
    text-decoration: none; }

/*  */
.promospromos {
  margin: 5% 0 5% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%; }

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5%; }

.productCard img {
  margin-top: 5%; }

.buttonCar {
  background-color: rgba(255, 0, 51, 0.342); }

/* --------------- */
.modal {
  background-image: url(../sources/backgrounds.jpg); }
  .modal .modal-title {
    color: white;
    background-color: #616569; }
  .modal h5 {
    text-align: center;
    width: 100%; }

.productoEnCarrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-self: center; }
  .productoEnCarrito button {
    background-color: crimson;
    width: 10%;
    height: 5%;
    padding: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#imh {
  width: 100%;
  height: 30%;
  margin-bottom: 10%;
  display: flex;
  position: static; }

header {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.typed {
  display: flex;
  height: 50px;
  background-image: url(../sources/backgrounds.jpg);
  align-items: center;
  font-size: 150%;
  justify-content: center;
  color: white;
  margin-bottom: 1%;
  margin-top: 1%;
  font-family: typ;
  font-weight: bold; }

.typed-cursor {
  visibility: hidden; }

.swiffy-slider {
  margin-bottom: 5%; }

.navbar {
  margin-bottom: 5%; }

.btn {
  background-color: #524942;
  background-image: url(../sources/backgrounds.jpg); }

.card-body {
  color: white;
  font-family: mrs;
  background-color: #616569;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .card-body h3 {
    text-decoration: underline; }
  .card-body button {
    width: 100%;
    background-image: url(../sources/backgrounds.jpg);
    color: white; }

.container-fluid a {
  text-decoration: none;
  color: white; }

.container-fluid li {
  list-style: none; }

.container-fluid .btn-primary {
  border-color: transparent; }

#swal {
  width: 20px; }
