
/* pantalla celulares */ 

@media only screen and (max-width: 320px){

    

    header h1{
        padding-top: 30%;
        font-size: 5vh;
        text-align:right;        
        padding-right: 8%;
       
    }



}


/* FIn Pantalla celulares */


/* Pantalla 425px */

@media only screen and (min-width: 425px){

    header h1{
        padding-top: 30%;
        font-size: 7vh;
        text-align:right;        
        padding-right: 8%;
       
    }


}

/* Fin pantalla 425 */

/* Pantalla 768px */

@media only screen and (min-width: 768px){

    header h1{
        padding-top: 30%;
        font-size: 9vh;
        text-align:right;        
        padding-right: 15%;
       
    }

    
}

/* Fin pantalla 768 */
