





.modal {

    background-image: url(../sources/backgrounds.jpg);

    .modal-title {
        color: white;
        background-color: $primer-color;
    }


    h5 {
        text-align: center;
        width: 100%;

    }
}

.productoEnCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    

    button {
        background-color: crimson;
        width: 10%;
        height: 5%;
        padding: 0;
    }
}