/* footer */

#templatemo_footer_wrapper {
	width: 100%;
	margin: 0 auto;
    margin-top: 5%;
	padding: 0;
	background: #426fae;
}

#templatemo_footer {
	width: 940px;
	margin: 0 auto;
	padding: 30px 20px;
	background: #426fae  url(images/templatemo_footer_bg.jpg) no-repeat center top;
	color: #cccccc;
}

#templatemo_footer  a {
	color: #ffffff;
}

#templatemo_footer .section_w280 {
	float: left;
	width: 240px;
	padding-right: 40px;
}

#templatemo_footer .section_w280 h3 {
	width: 175px;
	height: 30px;
	font-size:14px;
	font-weight: bold;
	color: #ffffff;
	
}

#templatemo_footer .footer_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}


#templatemo_footer .footer_list li {
	margin: 0px;
	padding: 3px 0;
}

#templatemo_footer .footer_list li a {
	color: #cccccc;
}

#templatemo_footer .footer_list li a:hover {
	color: #ffffff;
	text-decoration: none;
}

/* end of footer */