h2 {
    color: white;
    font-family: mrs;
    background-image: url(../sources/backgrounds.jpg);
    margin: 2% 0 2% 0 ;
    text-align: center;
}

.accordion {
    margin-bottom: 15%;

    h3 {
        text-align: center;
        margin-top: 5%;
    }

    button {
        color: white;
        background-image: url(../sources/backgrounds.jpg);
    }

    .accordion-body {
        background-color: rgba(0, 0, 0, 0.555);
    }
}

.valido {
    border: 2px green solid;
}

.invalido {
    border: 2px red solid;
}

.antfoot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 10%;

    button a {
        color: white;
        text-decoration: none;

    }
}

