

.accordion{
    margin-bottom: 15%;

    h2{
        text-align: center;
        margin-top: 5%;
    }

    .accordion-body {
        background-color: rgba(0, 0, 0, 0.555);
    }
}

.valido {
    border: 2px green solid;
}

.invalido {
    border: 2px red solid;
}

