


@import "footer";
@import "promos";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//header
#imh {
    width: 100%;
    height: 30%;
    margin-bottom: 10%;
    display: flex;
    position: static;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;


    
}

.typed {
    display: flex;
    height: 50px;
    background: rgb(195, 92, 22);
    background: radial-gradient(circle, rgb(143, 74, 28) 0%, rgba(175, 120, 17, 1) 100%);
    align-items: center;
    font-size: 150%;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: monospace;
    font-weight: bold;

}

.typed-cursor {
    visibility: hidden;
}

// fin header

//container

.swiffy-slider{
    margin-bottom: 5%;
}


.navbar{
    margin-bottom:5% ;
}

.btn{
    
   
   background-color: rgb(196, 111, 43);

}


//modal

.modal-title{
    color: white;
    background-color: rgb(38, 149, 240);
}